<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Affective Computing WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Affective Computing WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Affective Computing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65DD70201EA6994D00013E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DD70341EA6994D00013E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DD703F1EA6994D00013E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DD70481EA6994D00013E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
